/*Selector {*/
/*    Property:value*/
/*}*/

body {
    margin: 0px;
    background-image: url("nature.jpg");
    background-size: cover;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    -moz-box-shadow: 4px 4px 5px #888888;
    -ms-box-shadow: 4px 4px 5px #888888;
    -webkit-box-shadow: 4px 4px 5px #888888;
    -o-box-shadow: 4px 4px 5px #888888;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;

}

img {
    width: 450px;
    height: 300px;
    transition: all 1s;

}

img:hover {
    transform: scale(1.1);
}

h2 {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
}


p {
    color: pink;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;

}

li {
    list-style: none;
    display: inline-block;
}