/*Selector {*/
/*    Property:value*/
/*}*/

body {
    background-image: url("nature.jpg");
    background-size: cover;
}

h2 {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255, 176, 170, 0.5);
}


p {
    color: pink;
    line-height: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;

}

li {
    list-style: none;
    display: inline-block;
}